<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend> this is a legend
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo velit sapiente unde esse quasi earum vel fuga. Nam quasi consectetur voluptatum incidunt vel nemo suscipit porro blanditiis eligendi. Eveniet et veritatis in ut deserunt adipisci excepturi, vel libero nobis, assumenda unde deleniti dignissimos eum itaque illo saepe. Officia, qui? Esse.
            </p>
        </legend>
    </fieldset>
</body>
</html>