<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Document</title>

</head>
<body class ="bg-secondary">
    <div id="wrapper" class=" container col-lg-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" href="#">Portfolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/projects">Projects </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Contact<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="d-flex flex-column text-center">
        <div id="box" class="d-flex justify-content-center">
            <div class="d-flex mt-5">
                <div class="d-flex flex-column">
                    <form action="/" method="post">
                    <label for="name">Name:</label>
                    <label for="email">Email:</label>
                </div>
                <div class="d-flex flex-column">
                    <input class="m-2" type="text" name="" id="">
                    <input class="m-2" type="text" name="" id="">
                </div>
            </div>
            <div class="d-flex flex-column">
                <label for="name">Say Hello:</label>
                <textarea class="m-2" name="" id="" cols="30" rows="4"></textarea>
            </div>
        </div>
        <div>
            <button id="btn" type="button" class="btn btn-secondary">Submit</button>
            </form>
        </div>
    </div>

    
</body>
</html>