<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Document</title>

</head>
<body class ="bg-secondary">
    <div id="wrapper" class=" container col-lg-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" href="#">Portfolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Projects <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
    <div class="d-flex flex-column">
        <div class="p-2">
            <h1 class= "text-center"> Here are some cool projects!</h1>
        </div>
        <div id="projects">
            <div id="lorem" class="d-flex justify-content-center m-1">
                <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/cef31105-8a6e-4211-a74b-2f0bbd9791fb-profile_image-300x300.png" width="15%" alt="">
                <div class="d-flex flex-column">
                    <h4 class="p-2">cool project</h4>
                    <p class="p-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus perspiciatis quasi soluta, deserunt reprehenderit provident velit aut beatae voluptatem ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, maxime! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, laudantium?</p>
                </div>
            </div>
            <div  id="lorem" class="d-flex justify-content-center m-1">
                <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/cef31105-8a6e-4211-a74b-2f0bbd9791fb-profile_image-300x300.png" width="15%" alt="">
                <div class="d-flex flex-column">
                    <h4 class="p-2">cool project</h4>
                    <p class="p-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus perspiciatis quasi soluta, deserunt reprehenderit provident velit aut beatae voluptatem ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, maxime! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, laudantium?</p>
                </div>
            </div>
            <div  id="lorem" class="d-flex justify-content-center m-1">
                <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/cef31105-8a6e-4211-a74b-2f0bbd9791fb-profile_image-300x300.png" width="15%" alt="">
                <div class="d-flex flex-column">
                    <h4 class="p-2">cool project</h4>
                    <p class="p-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus perspiciatis quasi soluta, deserunt reprehenderit provident velit aut beatae voluptatem ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, maxime! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, laudantium?</p>
                </div>
            </div>
            <div  id="lorem" class="d-flex justify-content-center m-1">
                <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/cef31105-8a6e-4211-a74b-2f0bbd9791fb-profile_image-300x300.png" width="15%" alt="">
                <div class="d-flex flex-column">
                    <h4 class="p-2">cool project</h4>
                    <p class="p-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus perspiciatis quasi soluta, deserunt reprehenderit provident velit aut beatae voluptatem ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, maxime! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, laudantium?</p>
                </div>
            </div>
                        <div  id="lorem" class="d-flex justify-content-center m-1">
                <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/cef31105-8a6e-4211-a74b-2f0bbd9791fb-profile_image-300x300.png" width="15%" alt="">
                <div class="d-flex flex-column">
                    <h4 class="p-2">cool project</h4>
                    <p class="p-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus perspiciatis quasi soluta, deserunt reprehenderit provident velit aut beatae voluptatem ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, maxime! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, laudantium?</p>
                </div>
            </div>
            </div>
        </div>
            
    
</body>
</html>